.node {
  position: absolute;
  border: 1px solid white;
  background-color: #333;
  height: 40px;
  width: 40px;
}

.grid-point {
  position: absolute;
  background-color: #333a;
  height: 2px;
  width: 2px;
  z-index: -999;
}

.ui-cursor {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #0f0;
  animation: blink 1s steps(2, jump-none) infinite;
  z-index: 500;
}

#down-arrow {
  position: absolute;
  color: #0f0;
  animation: blink 1.6s steps(2, jump-none) infinite;
  z-index: 500;
}

.hidden {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ui-hints {
  padding: 10px;
  background: #222;
  border: 1px solid #0f05;
  border-radius: 8px;
  position: absolute;
  color: #0f0;
  bottom: 20px;
  right: 20px;
  /* width: 150px; */
  font-size: 14px;
  line-height: 1.8em;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 6px;
}
