.node {
  position: absolute;
  border: 1px solid white;
  background-color: #333;
  height: 40px;
  width: 40px;
}

.grid-point {
  position: absolute;
  background-color: #333a;
  height: 2px;
  width: 2px;
  z-index: -999;
}

.ui-cursor {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #0f0;
  animation: blink 1s steps(2, jump-none) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
